@import "../fonts/fonts.css";

/* elements */
@import "../elements/heading/heading.css";
@import "../elements/link/link.css";

/* components */
@import "../components/post/post.css";
@import "../components/block-statistics/block-statistics.css";

:root{
   --color-brand: #4e7b00;
   --color-brand-light: #609202;
   --color-text: #646464;
   --color-heading: #313131;
   --ff-lb: 'Libre Baskerville', serif;
   --ff-pn: 'Proxima Nova', sans-serif;
   --ff-mp: 'Myriad Pro', sans-serif;
}

html{
   font-size: 16px;
}

body{
   color: var(--color-text);
   font-family: var(--ff-pn);
}
