@import "../fonts/fonts.css";
@import "../components/post/post.css";

:root{
   --color-brand: #4e7b00;
   --color-brand-light: #609202;
   --color-text: #646464;
   --color-heading: #313131;
   --ff-lb: 'Libre Baskerville', serif;
}

html{
   font-size: 16px;
}

body{
   color: var(--color-text);
}
