:root{
   --color-brand: #4e7b00;
   --color-brand-light: #609202;
   --color-brand-lighter: #7ea53b;
   --color-text: #646464;
   --color-heading: #313131;
   --ff-base: 'Proxima Nova', sans-serif;
   --ff-base-2: 'Myriad Pro', sans-serif;
   --ff-deco: 'Libre Baskerville', serif;
}