.imitation-pic-brand{
    display: block;
    width: 90px;
    height: 60px;
    background-color: tomato;
    padding: 20px;
    text-align: center; 
}

.imitation-pic-brand-2{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 35px;
    padding: 0 15px;
}