.productCounter-num {
    font-weight: 700;
    font-size: 5em;
    color: var(--color-heading);
}

.productCounter-txt{
    font-family: var(--ff-lb);
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
    color: #515151;
}

@media (992px <= width <= 1199px) {
    .productCounter-num {
        font-size: 4.5em;
    }
}
