.post-item{
    max-height: 620px;
    max-width: 384px;
    display: flex;
    flex-direction: column;
}

.post-image{
    cursor: pointer;
    overflow: hidden;
}

.post-image > a > img{
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.post-image > a > img:hover{
    transform: scale(1.1);
}

.post-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 1.2rem;
    padding: 1.5rem;
}

.post-title{
    cursor: pointer;
}

.post-link{
    font-style: italic;
    color: var(--color-brand);
    font-family:var(--ff-lb);
}