.post-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.post-image{
    display: block;
    margin: auto;
}

.post-image{
    transition: transform 0.3s ease;
    transform: scale(1);
}

.post-item:hover .post-image{
    transform: scale(1.1);
}

.post-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 1rem;
    padding: 1rem;
}
